extends common/layout

block content

	include common/navbar

	header
		.container
			.intro-text
				.intro-lead-in Michael Miller
				.intro-heading 
					| Full-Stack 
					br 
					| Web Development

	//- Services Section
	section#services
		.container
			.row
				.col-lg-12
					h2.section-heading.text-center Skills &amp; Services
					h3.section-subheading.text-muted I've been a professional software engineer for over one and half years working in a small, fast-paced startup environment, working mainly in JavaScript, Node, and Front End Web Development.  I am excited about the direction of the modern web and the growing ecosystem of JavaScript libraries and frameworks. Alongside web development, I have been developing projects for Arduino using C/C++. Again.
			
			.row
				ul
					li Javascript and jQuery
					li HTML and Templating languages (Jade, Handlebars)
					li CSS and CSS preprocessors (Stylus, SASS, LESS)
					li Node/Express 
					li API development
					li Build systems (Gulp and Grunt)
					li Integration of 3rd party services
					li Angular
					li React
					li React Native

	// About Section
	section#about
		.container
			.row
				.col-lg-12.text-center
					h2.section-heading About Me
			.row
				.col-lg-12 Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur. 
			.row
				.col-sm-12
					.team-member
						img.img-responsive.img-circle(src='/assets/img/team/1.jpg', alt='')
						//- h4 Kay Garland
						//- p.text-muted Lead Designer
						ul.list-inline.social-buttons
							li
								a(href='#')
									i.fa.fa-twitter
							li
								a(href='#')
									i.fa.fa-facebook
							li
								a(href='#')
									i.fa.fa-linkedin
							
	// Contact Section
	section#contact
		.container
			.row
				.col-lg-12.text-center
					h2.section-heading Contact Us
					h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
			.row
				.col-lg-12
					form#contactForm(name='sentMessage', novalidate='')
						.row
							.col-md-6
								.form-group
									input#name.form-control(type='text', placeholder='Your Name *', required='', data-validation-required-message='Please enter your name.')
									p.help-block.text-danger
								.form-group
									input#email.form-control(type='email', placeholder='Your Email *', required='', data-validation-required-message='Please enter your email address.')
									p.help-block.text-danger
								.form-group
									input#phone.form-control(type='tel', placeholder='Your Phone *', required='', data-validation-required-message='Please enter your phone number.')
									p.help-block.text-danger
							.col-md-6
								.form-group
									textarea#message.form-control(placeholder='Your Message *', required='', data-validation-required-message='Please enter a message.')
									p.help-block.text-danger
							.clearfix
							.col-lg-12.text-center
								#success
								button.btn.btn-xl(type='submit') Send Message
	footer
		.container
			.row
				.col-md-4
					span.copyright Copyright © Michael Miller
				.col-md-4
					ul.list-inline.social-buttons
						li
							a(href='#')
								i.fa.fa-twitter
						li
							a(href='#')
								i.fa.fa-facebook
						li
							a(href='#')
								i.fa.fa-linkedin
				.col-md-4
					//- ul.list-inline.quicklinks
					//-   li
					//-     a(href='#') Privacy Policy
					//-   li
					//-     a(href='#') Terms of Use
uted
										| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
						li.timeline-inverted
							.timeline-image
								img.img-circle.img-responsive(src='/assets/img/about/2.jpg', alt='')
							.timeline-panel
								.timeline-heading
									h4 March 2011
									h4.subheading An Agency is Born
								.timeline-body
									p.text-muted
										| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
						li
							.timeline-image
								img.img-circle.img-responsive(src='/assets/img/about/3.jpg', alt='')
							.timeline-panel
								.timeline-heading
									h4 December 2012
									h4.subheading Transition to Full Service
								.timeline-body
									p.text-muted
										| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
						li.timeline-inverted
							.timeline-image
								img.img-circle.img-responsive(src='/assets/img/about/4.jpg', alt='')
							.timeline-panel
								.timeline-heading
									h4 July 2014
									h4.subheading Phase Two Expansion
								.timeline-body
									p.text-muted
										| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
						li.timeline-inverted
							.timeline-image
								h4
									| Be Part
									br
									| Of Our
									br
									| Story!
	// Team Section
	section#team.bg-light-gray
		.container
			.row
				.col-lg-12.text-center
					h2.section-heading Our Amazing Team
					h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
			.row
				.col-sm-4
					.team-member
						img.img-responsive.img-circle(src='/assets/img/team/1.jpg', alt='')
						h4 Kay Garland
						p.text-muted Lead Designer
						ul.list-inline.social-buttons
							li
								a(href='#')
									i.fa.fa-twitter
							li
								a(href='#')
									i.fa.fa-facebook
							li
								a(href='#')
									i.fa.fa-linkedin
				.col-sm-4
					.team-member
						img.img-responsive.img-circle(src='/assets/img/team/2.jpg', alt='')
						h4 Larry Parker
						p.text-muted Lead Marketer
						ul.list-inline.social-buttons
							li
								a(href='#')
									i.fa.fa-twitter
							li
								a(href='#')
									i.fa.fa-facebook
							li
								a(href='#')
									i.fa.fa-linkedin
				.col-sm-4
					.team-member
						img.img-responsive.img-circle(src='/assets/img/team/3.jpg', alt='')
						h4 Diana Pertersen
						p.text-muted Lead Developer
						ul.list-inline.social-buttons
							li
								a(href='#')
									i.fa.fa-twitter
							li
								a(href='#')
									i.fa.fa-facebook
							li
								a(href='#')
									i.fa.fa-linkedin
			.row
				.col-lg-8.col-lg-offset-2.text-center
					p.large.text-muted
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.
	// Clients Aside
	aside.clients
		.container
			.row
				.col-md-3.col-sm-6
					a(href='#')
						img.img-responsive.img-centered(src='/assets/img/logos/envato.jpg', alt='')
				.col-md-3.col-sm-6
					a(href='#')
						img.img-responsive.img-centered(src='/assets/img/logos/designmodo.jpg', alt='')
				.col-md-3.col-sm-6
					a(href='#')
						img.img-responsive.img-centered(src='/assets/img/logos/themeforest.jpg', alt='')
				.col-md-3.col-sm-6
					a(href='#')
						img.img-responsive.img-centered(src='/assets/img/logos/creative-market.jpg', alt='')
							
	// Contact Section
	section#contact
		.container
			.row
				.col-lg-12.text-center
					h2.section-heading Contact Us
					h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
			.row
				.col-lg-12
					form#contactForm(name='sentMessage', novalidate='')
						.row
							.col-md-6
								.form-group
									input#name.form-control(type='text', placeholder='Your Name *', required='', data-validation-required-message='Please enter your name.')
									p.help-block.text-danger
								.form-group
									input#email.form-control(type='email', placeholder='Your Email *', required='', data-validation-required-message='Please enter your email address.')
									p.help-block.text-danger
								.form-group
									input#phone.form-control(type='tel', placeholder='Your Phone *', required='', data-validation-required-message='Please enter your phone number.')
									p.help-block.text-danger
							.col-md-6
								.form-group
									textarea#message.form-control(placeholder='Your Message *', required='', data-validation-required-message='Please enter a message.')
									p.help-block.text-danger
							.clearfix
							.col-lg-12.text-center
								#success
								button.btn.btn-xl(type='submit') Send Message
	footer
		.container
			.row
				.col-md-4
					span.copyright Copyright © Michael Miller
				.col-md-4
					ul.list-inline.social-buttons
						li
							a(href='#')
								i.fa.fa-twitter
						li
							a(href='#')
								i.fa.fa-facebook
						li
							a(href='#')
								i.fa.fa-linkedin
				.col-md-4
					//- ul.list-inline.quicklinks
					//-   li
					//-     a(href='#') Privacy Policy
					//-   li
					//-     a(href='#') Terms of Use
